.container {
    display: flex;
    position: relative;
    right: 10px;
    padding-left: 34px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
  
    & input:checked ~ .checkmark:after {
      display: block;
    }
  
    & .checkmark:after {
      top: 6px;
      left: 6px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: rgb(108, 162, 44);
    }
  }
  
  .checkmark {
    position: absolute;
    top: -5px;
    left: 8px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid rgb(108, 162, 44);
  
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }